.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    width: 200px; /* Задайте ширину карточек */
}
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-page {
    padding: 20px;
}